<html lang="en">
<head>
  <!--AngularJS Material-->
  <!-- <script src="lib/angular-material.min.js"></script> -->
</head>
<body>
  <!-- <div class="mdl-grid"> -->

  <!-- Chart -Frequent Used Asset -->
  <md-card class="mdl-cell--12-col demo-card-wide card1" >
    <md-card-title>
      <md-card-title-text>
        <h6 id="dashboard-card-title">SETTINGS</h6>
        <!-- <span class="md-headline">Card with image</span>
        <span class="md-subhead">Large</span> -->
      </md-card-title-text>
      <!-- <md-card-title-media>
      <h1>Media should be here</h1>
      <div class="md-media-lg card-media"></div>
    </md-card-title-media> -->
  </md-card-title>
  <div class="card-content">

    <!-- <h1>Settings Page here</h1>
    <h4>Location Settings</h4> -->

      <!-- <md-select ng-model="weapon" placeholder="Weapon" class="md-no-underline">
        <md-option ng-repeat="x in DBassetRequest">{{x}}</md-option>
       <md-option value="sword">Sword</md-option>
        <md-option value="wand">Wand</md-option>
        <md-option value="pen">Pen?</md-option>
      </md-select> -->


  </div>

</md-card>

</body>

</html>
